
.clubMisionBlock {
  padding: 30px 20px 5px 20px;
  background: white;
  border-radius: 25px;
}
//
//.motion__title {
//  font-weight: 700;
//  font-size: 50px;
//  line-height: 120%;
//  /* identical to box height, or 120px */
//
//  letter-spacing: 0.003em;
//
//  background: linear-gradient(266.17deg, #C50000 29.07%, rgba(218, 97, 97, 0.841235) 40.08%, rgba(255, 0, 0, 0.6) 54.02%, #D24343 63.48%, rgba(255, 0, 0, 0.71) 72.23%, #FF0000 82.19%, rgba(255, 0, 30, 0.42) 91.27%, #FF001E 100%);
//  -webkit-background-clip: text;
//  -webkit-text-fill-color: transparent;
//  text-fill-color: transparent;
//}
